*, html, body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
	background: none 0 0 scroll repeat #f8f8f8;
    line-height: 1;
}

#wrapper{
	width: 100%;
}

.signin-wrp{
	width: 380px;
	margin: 50px auto 0;
}
.signin-wrp h2{
	font-size: 26px;
	margin-bottom: 20px;
	text-align: center;
}