*, html, body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: none 0 0 scroll repeat #fff;
    line-height: 1;
}

ul, li{
	list-style: none;
}

#wrapper{
    width: 100%;
}

.signin-wrp{
    width: 380px;
    margin: 50px auto 0;
}
.signin-wrp h2{
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

/** Navbar Styling **/
body .navbar-default .navbar-brand{
	color: #777;
}
body .navbar-default .navbar-nav > li > a{
	color: #777;
}
body .navbar-default .navbar-nav > li > a:focus,
body .navbar-default .navbar-nav > li > a:hover{
	color: #333;
}
body .dropdown-menu .divider{
	background-color: #e5e5e5;
}

/** Sidebar **/
.sidebar{
	background: none 0 0 scroll repeat #f8f8f8;
	border-right: 1px solid #e7e7e7;
	position: absolute;
	top: 51px;
	left: 0;
	width: 300px;
}

/** Main Content **/
#main{
	margin-top: 50px;
}


/** Commons **/
.mr15{
	margin-right: 15px !important;
}