*, html, body{
    margin: 0;
    padding: 0;
    border: none medium;
    outline: none medium;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: none 0 0 scroll repeat #f8f8f8;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6{
	border: none medium;
	color: #777;
	margin: 0;
    padding: 0;
    outline: none medium;
    line-height:normal;
}

p, a{
	color: #777;
}

a:hover, a:active, a:focus{
	text-decoration: none;
	color: #333;
	outline: none medium;
}

ul, li{
	list-style: none;
}

textarea{
	resize: none;
}

#wrapper{
    width: 100%;
}

.signin-wrp{
    width: 380px;
    margin: 50px auto 0;
}
.signin-wrp h2{
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

/** Navbar Styling **/
body .navbar-default{
	margin-bottom: 0;
}
body .navbar-default .navbar-brand{
	color: #777;
}
body .navbar-default .navbar-nav > li > a{
	color: #777;
}
body .navbar-default .navbar-nav > li > a:focus,
body .navbar-default .navbar-nav > li > a:hover{
	color: #333;
}
body .dropdown-menu .divider{
	background-color: #e5e5e5;
}

/** Sidebar **/
.sidebar{
	position: absolute;
	top: 51px;
	left: 0;
	width: 250px;
	opacity: 1;
	z-index: 1;
	transition: .5s ease-in;
}
.sidebar.sidebar-hide{
	opacity: 0;
}
.sidebar ul{
	margin: 20px 0;
}
.sidebar ul li{
	border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a{
	display: block;
	padding: 15px;
}

.sidebar ul li ul{
	margin: 0;
}
.sidebar ul li ul li{
	border: none medium;
}

#menu-opener{
	color: #777;
	float: left;
	padding: 17px 20px 16px 10px;
	transition: .3s ease-in;
}
#menu-opener.out{
	color: #000;
	padding: 17px 20px 16px 0;
}

/** Main Content **/
#main{
	background: none 0 0 scroll repeat #fff;
	border-left: 1px solid #e7e7e7;
	margin: 0 0 0 250px;
	padding: 0 20px;
	position: relative;
	z-index: 2;
	min-height: 900px;
	transition: margin .3s ease-in;
}
#main.main-full{
	margin: 0;
}

#main.loading{
	background: url(../images/loading.GIF) center 200px scroll no-repeat #fff;
}

#main h1{
	color: #333;
	text-align: left;
	margin: 15px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #eee;
}
#main h3{
	color: #333;
	margin: 15px 0;
	text-align: center;
}

#main .overall{
	margin: 30px -15px;
}
#main .overall .huge{
	font-size: 40px;
	margin: 0 0 18px 0;
	padding: 0;
}
#main .panel-heading{
	padding: 15px;
}

/** Commons **/
.mr15{
	margin-right: 15px !important;
}


@media only screen and (max-width: 768px){
	body .navbar-right{margin: 0 15px}
	
	#menu-opener{display: none}
	.sidebar{opacity: 1 !important;position: static;width: auto}
	
	#main{margin: 0}
}